# 核心数据处理与量化库
akshare

# 数据分析与科学计算，适配 python3.11
pandas==2.0.3
numpy<2.0.0
pyqlib
xgboost
catboost

# 命令行工具与进度条
fire 
tqdm 
tabulate

# 网络请求与爬虫
requests
beautifulsoup4 

# 日志与配置
loguru 
PyYAML

sqlalchemy
mysql-connector-python